
<%= render 'layouts/navbar' %>

  <div class="main-content">
    <div class="container">
      <h2 class="mt-5">Your Travel Itinerary</h2>

      <div class="row">
        <div class="col-11 mx-auto pt-5">
          <div class="plan-list">

            <% @steps.each_with_index do |step, i| %>
              <%= content_tag :div, "javascript:void(0);", class: "dayDetail", data: {path: explain_point_path(prompt: @response, point: i + 1)} do %>
                 <%= content_tag :h5, "Day #{i+1}" %>
                  <ul class="mb-5">
                    <li><%= step %></li>
                  </ul>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal-loader-spinner" class="loader-spinner d-none">
  <div class="spinner"></div>
</div>

<div class="modal fade" id="modal-window" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
    <div class="modal-content" id="modal-content">
    </div>
  </div>
</div>
